.create input[type=range] {
  height: 2px;
  -webkit-appearance: none;
  margin: 28px 47px 10px 39px;
  width: 380px;
}
.create input[type=range]:focus {
  outline: none;
}
.create input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #a6a6a6;
  background: #ffcf7a;
  border-radius: 2px;
  border: 0px solid #6346f2;
}
.create input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 2px #a6a6a6;
  border: 2px solid #ffcf7a;
  height: 30px;
  width: 30px;
  border-radius: 2px;
  background: #ffcf7a;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -15px;
}
.create input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffcf7a;
}
.create input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #a6a6a6;
  background: #ffcf7a;
  border-radius: 2px;
  border: 0px solid #6346f2;
}
.create input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 2px #a6a6a6;
  border: 2px solid #ffcf7a;
  height: 30px;
  width: 30px;
  border-radius: 0px;
  background: #ffcf7a;
  cursor: pointer;
}
.create input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.create input[type=range]::-ms-fill-lower {
  background: #ffcf7a;
  border: 0px solid #6346f2;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #a6a6a6;
}
.create input[type=range]::-ms-fill-upper {
  background: #ffcf7a;
  border: 0px solid #6346f2;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #a6a6a6;
}
.create input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 2px #a6a6a6;
  border: 2px solid #ffcf7a;
  height: 30px;
  width: 30px;
  border-radius: 0px;
  background: #ffcf7a;
  cursor: pointer;
}
.create input[type=range]:focus::-ms-fill-lower {
  background: #ffcf7a;
}
.create input[type=range]:focus::-ms-fill-upper {
  background: #ffcf7a;
}
.create h2 {
  font-family: "Lab Grotesque";
  font-style: normal;
  font-weight: 250;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  background: linear-gradient(235.41deg, #ffffff 28.47%, rgba(255, 255, 255, 0.18) 91.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 67px;
}
.create__columns {
  display: grid;
  grid-template-columns: 533px 577px;
  gap: 80px;
}
.create__img {
  margin-bottom: 68px;
}
.create__property {
  display: flex;
  gap: 191px;
}
.create__property__length {
  font-family: "Lab Grotesque";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 55px;
  color: #ffffff;
}
.create__color {
  width: 28px;
  height: 28px;
  background: #b8542a;
  border-radius: 500px;
}
.create__progress__range {
  display: flex;
  font-family: "Lab Grotesque";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 55px;
  color: #ffffff;
}
.create__panel__slider {
  display: flex;
}
.create__panel__slides {
  margin: 0 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.create__panel__nav {
  display: flex;
  margin-top: 18px;
}
.create__panel__arrow {
  margin-top: 22px;
  cursor: pointer;
}
.create__features {
  margin-bottom: 60px;
}
.create__features__columns {
  display: grid;
  grid-template-columns: 217px 217px;
  gap: 143px;
}
.create__features__columns label {
  display: block;
  font-family: "Lab Grotesque";
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
}
.create__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 89px;
}
.create .price__info__price {
  font-family: "Lab Grotesque";
  font-weight: 300;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #ffcf7a;
}
.create .price__button {
  font-family: "Lab Grotesque";
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 254px;
  height: 60px;
  background: linear-gradient(#f98b4d, #ffd9c4);
  cursor: pointer;
}

.create__panel__btn {
  display: block;
  border: 1px solid #464239;
  width: 9px;
  margin-right: 4px;
  cursor: pointer;
}

.prop__name {
  font-family: "Lab Grotesque";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 55px;
  letter-spacing: 0.135em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

.second__column__prop__name {
  line-height: 30px;
}

.active-panel {
  border: 1px solid #ffcf7a;
}

.create__features__checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.create__features__checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 196px;
  height: 25px;
  width: 25px;
  background-color: #1d1d1c;
  border: 1px solid #ceb787;
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.create__features__checkbox:hover input ~ .checkmark {
  background-color: #1d1d1c;
}

/* When the checkbox is checked, add a blue background */
.create__features__checkbox input:checked ~ .checkmark {
  background-color: #eccf94;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  width: 8px;
  height: 8px;
  background: url("../../../images/svg/checkmark.svg") no-repeat;
  position: absolute;
  display: none;
  top: 7px;
  left: 7px;
}

/* Show the checkmark when checked */
.create__features__checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator *//*# sourceMappingURL=eight-section.css.map */